.scrollbar{
    position: fixed;
    color: #fff;
    z-index: 3;
    width: 140px;
    height: 100%;
    display: block;
    margin-top: 100px;
    .line{
        position: absolute;
        width: 1px;
        display: flex;
        height: 100vh;
        z-index: 2;
        left: 100%;
        top: -100px;

        background: linear-gradient(180deg, rgba(46, 236, 197, 0) 0%, rgba(46, 236, 197, 0.5) 43.69%, rgba(46, 236, 197, 0.0693742) 92.19%, rgba(255, 177, 177, 0) 100%);
        border: 1px solid;
        border-image-source: linear-gradient(180deg, rgba(46, 236, 197, 0) 0%, rgba(46, 236, 197, 0.5) 43.69%, rgba(46, 236, 197, 0.0693742) 92.19%, rgba(255, 177, 177, 0) 100%);
    }
    .elements{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        width: 40px;
        height: 85vh;
        left: 95%;
        .element{
            text-decoration: none;
            z-index: 3;
            box-sizing: border-box;
            text-indent: -45px;
            color: #2EECC5;
            width: 18px;
            height: 35px;
            margin-bottom: 20px;
            border-radius: 20px;
            background: linear-gradient(180deg, #5D7C76 0%, #0A3028 100%);
            h4{
                background: linear-gradient(91.2deg, rgba(181, 254, 239, 0.5) 10.31%, rgba(46, 236, 197, 0.5) 165.09%);
                -webkit-background-clip: text;
                background-clip: text;
                font-family: 'Ruberoid', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                margin-top: 0;
                transform: scaleX(1.5);
            }
            transition: .4s;
            .inner{
                width: 18px;
                height: 37px;
                top: 175px;

                background: linear-gradient(180deg, #B5FEEF 0%, #22A98D 100%);
                border-radius: 9px;
            }
        }
        .active{
            background: linear-gradient(180deg, #B5FEEF 0%, #22A98D 100%);
            border-radius: 9px;
        }
        #element1{
            top: -400px;
        }
    }
}